.numberChooser {
    height: 30px;
    width: 40px;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    
    border-top: 100px solid #f00;
  }
  
  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    
    border-bottom:100px solid black;
  }

  .progress{
      display:flex;
      flex-direction: row;
      width: 50%;
      justify-content: center;
      margin-top: 15px;
      margin: 15px 20%;
  }
  .timeleft{
      margin: 0px 10px;
  }
  .progDiv {
    width: 50%;
    /*margin: auto;*/
    height: 40px;
    /*position: relative;*/
    background-color: #ddd;
  }
  
  #progBar {
    background-color: #4CAF50;
    width: 10px;
    height: 40px;
    /*position: absolute;*/
  }
  #bprogBar {
    background-color: rgb(89, 87, 202);
    width: 10px;
    height: 40px;
    /*position: absolute;*/
  }

  .controlbutton {
      width: 25%;
      height: 100px;
      background-color: pink;
      border-radius: 50%;
      color:#f442df;
      margin-right: 10px;
      font-size: 2em;
      font-family:'Henny Penny', cursive;
  }
  .setup{
      display: flex;
      flex-direction: row;
      font-size: 1.5em;
      padding: 20px;
    }
    .chooseTime{
        margin: 20px;
    }

  .timercontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
    margin: 0px 20%;
  }
  .smbutton{
    width: 10%;
    height: 50px;
    font-size: 1em;
  }

  .progTask{
      display: flex;
      flex-direction: column;
      margin-right: 20px;
  }