.numberChooser {
    height: 30px;
    width: 40px;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    
    border-top: 100px solid #f00;
  }
  
  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    
    border-bottom:100px solid black;
  }

  .progress{
      display:flex;
      flex-direction: row;
      width: 65%;
      justify-content: center;
      margin-top: 15px;
      margin: 15px 20%;
  }
  .timeleft{
      margin: 0px 10px;
  }
  .progDiv {
    width: 50%;
    /*margin: auto;*/
    height: 40px;
    /*position: relative;*/
    background-color: #ddd;
  }
  
  #progBar {
    background-color: #f442df;
    width: 10px;
    height: 40px;
    /*position: absolute;*/
  }
  #bprogBar {
    background-color: rgb(89, 87, 202);
    width: 10px;
    height: 40px;
    /*position: absolute;*/
  }

  .controlbutton {
      width: 150px;;
      height: 150px;
      background-color: rgb(241, 195, 234);
      border-radius: 50%;
      border-color: blue;
      color:#f442df;
      margin-right: 10px;
      font-size: 2em;
      font-family:'Henny Penny', cursive;
  }
  .setup{
      display: flex;
      flex-direction: row;
      font-size: 1.5em;
      height: 150px;
    }
    .controls{
      display: flex;
      flex-direction: row;
      padding: 20px;
      height: 150px;
      width: 100%;
      justify-content: space-around;
    }
    .chooseTime{
      display: flex;
      justify-content: center;
     padding: 10px;
     margin: auto;
      
    }
 

    .icon{
      width: 50%;
      max-width: 200px;
  
    }
  .timercontainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    margin: 0px 20%;

  }
 

  .progTask{
      display: flex;
      flex-direction: column;
      margin-right: 20px;
  }